---
import Layout from "../../layouts/Layout.astro";
import HeroImage from "../../components/HeroImage.astro";

const backgroundImage = `${
  import.meta.env.BASE_URL
}background/manufacturing-banner.jpg`;
const description =
  "Nature's Foods Australia can assist you every step of the way; from concept to production. We provide end-to-end solutions for our clients making us your one-stop quality pet food manufacturer.";
---

<Layout title="Manufacturing" description="">
  <HeroImage
    active="services"
    title="Manufacturing"
    description={description}
    background={backgroundImage}
  />
  <section id="content" class="manufacturing">
    <div class="container">
      <div class="section-title">
        <h2>Freeze Dry</h2>
        <p class="text-start">
          Freeze drying process sucks out the water from ingredients without
          using any heat, which allows the product to be shelf stable for many
          years.
        </p>
        <p class="text-start">
          This means raw product no longer needs to be kept in the freezer but
          can now sit in your pantry at home. This process is great for pet food
          and treats, as it is able to produce a shelf stable raw product. At
          Nature’s Foods Australia we believe that nature knows best.
        </p>
        <p class="text-start">
          Therefore, it is best to feed raw (uncooked) food to our pets. It
          makes sense, as freeze dried product has not under gone any heating,
          which ensures ingredients stay nutrient-rich and proteins do not
          denature. At Nature’s Foods Australia we are committed to
          manufacturing healthiest food for cats and dogs, providing them with
          the energy and vitality to make them thrive.
        </p>

        <div class="row">
          <div class="col-md-12 col-lg-5 mb-lg-0">
            <h5>Raw Materials:</h5>
            <div class="row">
              <div class="col-6 mb-5 mb-lg-0">
                <div class="icon-box">
                  <p>
                    <img
                      src={`${
                        import.meta.env.BASE_URL
                      }icons/manufacturing/freeze-dry-kangaroo.svg`}
                    />
                  </p>
                  <p>Kangaroo</p>
                </div>
              </div>
              <div class="col-6 mb-5 mb-lg-0">
                <div class="icon-box">
                  <p>
                    <img
                      src={`${
                        import.meta.env.BASE_URL
                      }icons/manufacturing/freeze-dry-beef.svg`}
                    />
                  </p>
                  <p>Beef</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-7 mb-5 mb-lg-0">
            <h5>&nbsp;</h5>
            <div class="row">
              <div class="col-6 col-md-4 mb-5 mb-lg-0">
                <div class="icon-box">
                  <p>
                    <img
                      src={`${
                        import.meta.env.BASE_URL
                      }icons/manufacturing/freeze-dry-lamb.svg`}
                    />
                  </p>
                  <p>Lamb</p>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-5 mb-lg-0">
                <div class="icon-box">
                  <p>
                    <img
                      src={`${
                        import.meta.env.BASE_URL
                      }icons/manufacturing/freeze-dry-chicken.svg`}
                    />
                  </p>
                  <p>Chicken</p>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-5 mb-lg-0">
                <div class="icon-box">
                  <p>
                    <img
                      src={`${
                        import.meta.env.BASE_URL
                      }icons/manufacturing/freeze-dry-duck.svg`}
                    />
                  </p>
                  <p>Duck</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-lg-5 mb-5 mb-lg-0">
            <h5>Cube Size:</h5>
            <div class="row">
              <div class="col-md-6 mb-5 mb-lg-0">
                <div class="icon-box">
                  <p>
                    <img
                      src={`${
                        import.meta.env.BASE_URL
                      }icons/manufacturing/freeze-dry-small-1cm.svg`}
                    />
                  </p>
                  <p>Small-1cm</p>
                  <p>(Suitable for cat and dog)</p>
                </div>
              </div>
              <div class="col-md-6 mb-5 mb-lg-0">
                <div class="icon-box">
                  <p>
                    <img
                      src={`${
                        import.meta.env.BASE_URL
                      }icons/manufacturing/freeze-dry-big-2cm.svg`}
                    />
                  </p>
                  <p>Big-2cm</p>
                  <p>(Suitable for dogs)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-7 mb-5 mb-lg-0">
            <h5>Packaging Option:</h5>
            <div class="row">
              <div class="col-6 col-md-4 mb-5 mb-lg-0">
                <div class="icon-box">
                  <p>
                    <img
                      src={`${
                        import.meta.env.BASE_URL
                      }icons/manufacturing/freeze-dry-paper-can.svg`}
                    />
                  </p>
                  <p>Paper Can</p>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-5 mb-lg-0">
                <div class="icon-box">
                  <p>
                    <img
                      src={`${
                        import.meta.env.BASE_URL
                      }icons/manufacturing/freeze-dry-stand-up-pouch-bag.svg`}
                    />
                  </p>
                  <p>Stand-up Pouch Bag</p>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-5 mb-lg-0">
                <div class="icon-box">
                  <p>
                    <img
                      src={`${
                        import.meta.env.BASE_URL
                      }icons/manufacturing/freeze-dry-vacuumed-pack-bag.svg`}
                    />
                  </p>
                  <p>Vacuumed Pack Bag</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h2 class="mt-5">Pet Health Supplements Service</h2>
        <h5>Raw Materials:</h5>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="icon-box">
              <p>
                <img
                  src={`${
                    import.meta.env.BASE_URL
                  }icons/manufacturing/pet-health-supplements-service-dairy-based-products.svg`}
                />
              </p>
              <p>Dairy based products</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="icon-box">
              <p>
                <img
                  src={`${
                    import.meta.env.BASE_URL
                  }icons/manufacturing/pet-health-supplements-service-meat-based-products.svg`}
                />
              </p>
              <p>Meat based products</p>
              <p>(Air dried and freeze dried)</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="icon-box">
              <p>
                <img
                  src={`${
                    import.meta.env.BASE_URL
                  }icons/manufacturing/pet-health-supplements-service-vegetable-based-products.svg`}
                />
              </p>
              <p>Vegetable based products</p>
              <p>(Air dried and freeze dried)</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h5>Packaging Option:</h5>
            <div class="row">
              <div class="col-6 col-lg-4 mb-5 mb-lg-0">
                <div class="icon-box">
                  <p>
                    <img
                      src={`${
                        import.meta.env.BASE_URL
                      }icons/manufacturing/freeze-dry-paper-can.svg`}
                    />
                  </p>
                  <p>Paper Can</p>
                </div>
              </div>
              <div class="col-6 col-lg-4 mb-5 mb-lg-0">
                <div class="icon-box">
                  <p>
                    <img
                      src={`${
                        import.meta.env.BASE_URL
                      }icons/manufacturing/pet-health-supplements-service-jars.svg`}
                    />
                  </p>
                  <p>Jars (HDPE, PET and PP)</p>
                </div>
              </div>
              <div class="col-6 col-lg-4 mb-5 mb-lg-0">
                <div class="icon-box">
                  <p>
                    <img
                      src={`${
                        import.meta.env.BASE_URL
                      }icons/manufacturing/pet-health-supplements-service-sachet.svg`}
                    />
                  </p>
                  <p>Sachet</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h5>As per client’s requirement:</h5>
            <div class="row">
              <div class="col-md-12 mb-5 mb-lg-0">
                <div class="icon-box with-inner">
                  <div>
                    <div class="row">
                      <div class="col-4 mb-lg-0">
                        <div class="icon-box icon-inner">
                          <p>
                            <img
                              src={`${
                                import.meta.env.BASE_URL
                              }icons/manufacturing/pet-health-supplements-service-210.svg`}
                            />
                          </p>
                          <p>210g</p>
                        </div>
                      </div>
                      <div class="col-4 mb-lg-0">
                        <div class="icon-box icon-inner">
                          <p>
                            <img
                              src={`${
                                import.meta.env.BASE_URL
                              }icons/manufacturing/pet-health-supplements-service-300.svg`}
                            />
                          </p>
                          <p>300g</p>
                        </div>
                      </div>
                      <div class="col-4 mb-lg-0">
                        <div class="icon-box icon-inner">
                          <p>
                            <img
                              src={`${
                                import.meta.env.BASE_URL
                              }icons/manufacturing/pet-health-supplements-service-500.svg`}
                            />
                          </p>
                          <p>500g</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
