---
import Layout from "../../layouts/Layout.astro";
import HeroImage from "../../components/HeroImage.astro";

const backgroundImage = `${
  import.meta.env.BASE_URL
}background/product-formulation-banner.jpg`;
const description =
  "We cooperate with top animal nutrition laboratories around the world. Highly qualified and experienced teams are not only familiar with the latest technical issues but they also have a deep understanding of market trends.";
---

<Layout title="Product Formulation" description="">
  <HeroImage
    active="services"
    title="Product Formulation"
    description={description}
    background={backgroundImage}
  />
  <section id="content" class="product-formulation">
    <div class="container">
      <div class="section-title">
        <p class="text-start">
          We cooperate with top animal nutrition laboratories around the world.
          Highly qualified and experienced teams are not only familiar with the
          latest technical issues but they also have a deep understanding of
          market trends.
        </p>
        <br />
        <p class="text-start">
          We are able to support clients in all stages of the R&D process
          including formulations, specifications, testing methods and stability
          testing reports.
        </p>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3 mb-5 mb-lg-0">
          <div class="icon">
            <img
              src={`${
                import.meta.env.BASE_URL
              }icons/product-formulation/formulations.svg`}
            />
            <strong>Formulations</strong>
          </div>
        </div>
        <div class="col-6 col-lg-3 mb-5 mb-lg-0">
          <div class="icon">
            <img
              src={`${
                import.meta.env.BASE_URL
              }icons/product-formulation/specifications.svg`}
            />
            <strong>Specifications</strong>
          </div>
        </div>
        <div class="col-6 col-lg-3 mb-5 mb-lg-0">
          <div class="icon">
            <img
              src={`${
                import.meta.env.BASE_URL
              }icons/product-formulation/testing-methods.svg`}
            />
            <strong>Testing Methods</strong>
          </div>
        </div>
        <div class="col-6 col-lg-3 mb-5 mb-lg-0">
          <div class="icon">
            <img
              src={`${
                import.meta.env.BASE_URL
              }icons/product-formulation/testing-reports.svg`}
            />
            <strong>Testing Reports</strong>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
