---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Welcome to Nature's Food">
  <Hero />
  <div style="height: 800px;"></div>
</Layout>
