---
import ContactForm from "./ContactForm.astro";
---

<section id="contact" class="contact">
  <div class="banner">
    <div class="text-center">
      <h3>Contact us today to find out more!</h3>
    </div>
  </div>
  <div class="contact-body">
    <div class="container">
      <div class="form-wrapper">
        <div class="row">
          <div class="col-md-12 col-lg-4 contact-panel">
            <h4>Our Location</h4>
            <p>1867 Misil Junction,1867 Misil Junction</p>
            <p>1867 Misil Junction1867 Misil Junction</p>
            <h4>Quick Contact</h4>
            <p>Email:supoort@naturesfoods.com</p>
            <p>Support:supoort@naturesfoods.com</p>
            <strong>
              We will get back to you within 24 hour, or call us veryday, 09:00
              AM - 12:00 PM
            </strong>
            <p class="phone">
              <img src="icons/phone.png" alt="Phone" />
              <span>66 666 6666 66</span>
            </p>
          </div>

          <div class="col-md-12 col-lg-8 contact-form">
            <h4>Request A Quote</h4>
            <p>
              Complete control over products allows us to ensure our customers
              receive the best quality prices and service. We take great pride
              in everything that we do in our factory.
            </p>
            <ContactForm />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
