<section id="contact" class="contact">
  <div class="banner">
    <div class="text-center">
      <h3>Contact us today to find out more!</h3>
    </div>
  </div>
  <div class="contact-body">
    <div class="container">
      <div class="form-wrapper">
        <div class="row">
          <div class="col-md-12 col-lg-4 contact-panel">
            <h4>Our Location</h4>
            <p>1867 Misil Junction,1867 Misil Junction</p>
            <p>1867 Misil Junction1867 Misil Junction</p>
            <h4>Quick Contact</h4>
            <p>Email:supoort@naturesfoods.com</p>
            <p>Support:supoort@naturesfoods.com</p>
            <strong>
              We will get back to you within 24 hour, or call us veryday, 09:00
              AM - 12:00 PM
            </strong>
            <p class="phone">
              <img src="icons/phone.png" alt="Phone" /> <span>66 666 6666 66</span>
            </p>
          </div>

          <div class="col-md-12 col-lg-8 contact-form">
            <h4>Request A Quote</h4>
            <p>
              Complete control over products allows us to ensure our customers
              receive the best quality prices and service. We take great pride
              in everything that we do in our factory.
            </p>
            <form
              action="forms/contact.php"
              method="post"
              role="form"
              class="email-form"
            >
              <div class="row">
                <div class="col-md-6 form-group">
                  <input
                    id="name"
                    name="name"
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    required
                  />
                </div>
                <div class="col-md-6 form-group mt-4 mt-md-0">
                  <input
                    id="email"
                    name="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    required
                  />
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-md-6 form-group">
                  <input
                    id="phone"
                    name="phone"
                    type="text"
                    class="form-control"
                    placeholder="Phone"
                    required
                  />
                </div>
                <div class="col-md-6 form-group mt-4 mt-md-0">
                  <input
                    id="address"
                    name="address"
                    type="text"
                    class="form-control"
                    placeholder="Address"
                    required
                  />
                </div>
              </div>
              <div class="form-group mt-4">
                <textarea
                  class="form-control"
                  name="message"
                  rows="4"
                  required
                  placeholder="Additional Details!"></textarea>
              </div>
              <div class="mt-4">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your message has been sent. Thank you!
                </div>
              </div>
              <div class="mt-4">
                <button type="submit">Submit Request</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
