---
import Header from "../components/Header.astro";
---

<section id="hero">
  <div class="hero-container">
    <Header active="home" />
    <div class="hero-item">
      <video
        id="hero_player"
        poster="videos/poster-home.jpg"
        class="video"
        autoplay
        playsinline
        muted
        loop
      >
        <source src="videos/home.mp4?raw=true" type="video/mp4" />
      </video>
      <div class="hero-item-content">
        <div>
          <h2>one-stop quality pet food manufacturer</h2>
          <p>
            Our team has extensive expertise in the pet industry, launching
            several products locally and abroad. We are also equipped with the
            latest technology to ensure the highest quality products. With our
            experience and technology, we will ensure you are in the best
            position to launch your new pet product!
          </p>
          <a href={`${import.meta.env.BASE_URL}contact`} class="btn-contact">
            Contact Us
          </a>
          <a href={`${import.meta.env.BASE_URL}about`} class="btn-about">
            About Us
          </a>
        </div>
      </div>
      <div class="hero-bottom-arrow">
        <a href="#services">
          <img
            src={`${import.meta.env.BASE_URL}icons/banner-arrow.png`}
            alt="Click here to learn more about us"
          />
        </a>
      </div>
    </div>
  </div>
</section>
