<section id="why" class="why section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Why Us?</h2>
      <p>
        We will ensure you are in the best position to launch your new pet
        product.
      </p>
    </div>
    <div class="why-items">
      <div class="row item">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-3 offset-circle">
              <div class="text psr-1">
                <h4 class="z-index-1">Experience</h4>
              </div>
            </div>

            <div class="col-12 col-md-9">
              <div class="content">
                <ul>
                  <li>Launching many products locally and abroad.</li>
                  <li>
                    Equipped with the latest technology to ensure the highest
                    quality production.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row item">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-3 offset-circle">
              <div class="text psr-1">
                <h4 class="z-index-1">Cost Control</h4>
              </div>
            </div>

            <div class="col-12 col-md-9">
              <div class="content">
                <ul>
                  <li>
                    Sourcing the highest quality ingredients and packaging at
                    the best price.
                  </li>
                  <li>
                    Removing all unnecessary costs, to lower the barrier of
                    launching your pet food products.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row item">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-3 offset-circle">
              <div class="text psr-1">
                <h4 class="z-index-1">Quality</h4>
              </div>
            </div>

            <div class="col-12 col-md-9">
              <div class="content">
                <ul>
                  <li>
                    Extensive quality management systems and control that
                    encompass the entire manufacturing process.
                  </li>
                  <li>
                    Dedication to continuous improvement with regular internal
                    and external audits.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row item">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-3 offset-circle">
              <div class="text psr-1">
                <h4 class="z-index-1">Innovation</h4>
              </div>
            </div>

            <div class="col-12 col-md-9">
              <div class="content">
                <ul>
                  <li>Exploring new ways to broaden product range offering.</li>
                  <li>
                    Competitive pricing resulting from manufacturing efficiency
                    and a strong global supply chain.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
