---
import Footer from "../components/Footer.astro";
import "../styles/global.scss";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const siteName = import.meta.env.SITE_NAME;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}-{siteName}</title>
    <meta name="description" content={description} />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      href="favicons/apple-touch-icon.png"
      sizes="180x180"
    />
    <link rel="icon" href="favicons/favicon.svg" />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    ></script>

    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
    ></script>
  </head>
  <body>
    <slot />
    <Footer />
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
    >
      <i class="bi bi-arrow-up-short"></i>
    </a>
    <script>
      (function () {
        let backtotop = document.querySelector(".back-to-top");
        if (backtotop) {
          const toggleBacktotop = () => {
            if (window.scrollY > 100) {
              backtotop!.classList.add("active");
            } else {
              backtotop!.classList.remove("active");
            }
          };
          window.addEventListener("load", toggleBacktotop);
          document.addEventListener("scroll", toggleBacktotop);
        }
      })();
    </script>
  </body>
</html>
